* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: #020617;
  --text-primary: #ffffff;
  --text-secondary: #cbd5e1;
  --font-family: "Segoe UI", Arial, sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--font-family);
}

main {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  color: var(--text-secondary);
  font-size: 1.2rem;
}